<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header>
        <nav class="bg-white shadow-lg sticky top-[0px] w-full z-10">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between items-center py-4">
                    <div class="flex items-center">
                        <i class="fas fa-stethoscope text-blue-600 text-2xl"></i>
                        <span class="ml-2 text-xl font-bold">MedBook</span>
                    </div>
                    <div class="hidden md:flex items-center space-x-8">
                        <a th:href="@{/home}" class="text-gray-600 hover:text-blue-600">Home</a>
                        <a th:href="@{/doctor}" class="text-gray-600 hover:text-blue-600">Doctors</a>
                        <a th:href="@{/appointment}" class="text-gray-600 hover:text-blue-600">Get appointment</a>
                        <a th:href="@{/login}"><button class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700">
                           Sign In 
                        </button></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
  </body>
</html>
